.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 45px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 12px;
  }
}
