.theoryLHC {
  width: 100%;
  color: #ffffff;
  background: #050505;
}

.hero {
  position: relative;
  height: 715px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.heroImg {
  position: absolute;
  inset: 0;
  opacity: 0.5;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.heroTitle {
  position: relative;
  z-index: 1;
  font-family: Rubik;
  font-size: 80px;
  font-weight: 600;
  line-height: 100px;
  margin: 0;
}

.subtitle {
  text-align: center;
  font-family: Rubik;
  font-size: 30px;
  font-weight: 400;
  opacity: 0.5;
  margin: 40px 0 20px;
}

.block {
  border: 5px solid #19242b;
  background: linear-gradient(98.615deg, #050505 0.31493%, #001214 100%);
  margin: 0 auto 80px;
  padding: 70px 90px 90px;
  max-width: 1280px;
}

.blockTitle {
  font-family: Rubik;
  font-size: 25px;
  font-weight: 400;
  color: #008dd8;
  margin: 0 0 24px;
}

.blockText {
  font-family: Rubik;
  font-size: 25px;
  font-weight: 400;
  opacity: 0.7;
  line-height: 32px;
  margin-bottom: 26px;
}

.image {
  width: 860px;
  height: 484px;
  margin: 0 auto 32px;
  display: block;
  object-fit: cover;
}

.listTitle {
  font-family: Rubik;
  font-size: 25px;
  font-weight: 400;
  opacity: 0.9;
  margin: 40px 0 16px;
}

.list {
  margin: 0;
  padding-left: 22px;
  font-family: Rubik;
  font-size: 15px;
  opacity: 0.7;
  line-height: 20px;
}

.list li {
  margin-bottom: 12px;
}

@media (max-width: 900px) {
  .hero {
    height: 420px;
  }

  .heroTitle {
    font-size: 36px;
    line-height: 44px;
  }

  .block {
    padding: 50px 30px 60px;
  }

  .image {
    width: 100%;
    height: auto;
  }
}
