:root {
  --c-hex-000000: #000000;
  --c-hex-001214: #001214;
  --c-hex-002428: #002428;
  --c-hex-0066ff: #0066ff;
  --c-hex-0069a6: #0069a6;
  --c-hex-0077b6: #0077b6;
  --c-hex-008dd8: #008dd8;
  --c-hex-00a2ff: #00a2ff;
  --c-hex-00ff00: #00ff00;
  --c-hex-00ff88: #00ff88;
  --c-hex-00ffff: #00ffff;
  --c-hex-023e8a: #023e8a;
  --c-hex-050505: #050505;
  --c-hex-070707: #070707;
  --c-hex-080c0e: #080c0e;
  --c-hex-090909: #090909;
  --c-hex-0a0e17: #0a0e17;
  --c-hex-0b0f12: #0b0f12;
  --c-hex-0b1220: #0b1220;
  --c-hex-0f0f12: #0f0f12;
  --c-hex-0f1517: #0f1517;
  --c-hex-11181d: #11181d;
  --c-hex-121212: #121212;
  --c-hex-151e24: #151e24;
  --c-hex-1565c0: #1565c0;
  --c-hex-171717: #171717;
  --c-hex-18171b: #18171b;
  --c-hex-19242b: #19242b;
  --c-hex-1976d2: #1976d2;
  --c-hex-1a1f2e: #1a1f2e;
  --c-hex-202168: #202168;
  --c-hex-211545: #211545;
  --c-hex-2a3942: #2a3942;
  --c-hex-2f4250: #2f4250;
  --c-hex-323232: #323232;
  --c-hex-3e5c76: #3e5c76;
  --c-hex-4e3f8f: #4e3f8f;
  --c-hex-667eea: #667eea;
  --c-hex-66bfff: #66bfff;
  --c-hex-764ba2: #764ba2;
  --c-hex-7b63c3: #7b63c3;
  --c-hex-7c3aed: #7c3aed;
  --c-hex-87474f: #87474f;
  --c-hex-888888: #888888;
  --c-hex-a0aec0: #a0aec0;
  --c-hex-a24b76: #a24b76;
  --c-hex-aaaaaa: #aaaaaa;
  --c-hex-b2dfff: #b2dfff;
  --c-hex-b85f66: #b85f66;
  --c-hex-c0cdff: #c0cdff;
  --c-hex-cccccc: #cccccc;
  --c-hex-d68f99: #d68f99;
  --c-hex-d86666: #d86666;
  --c-hex-ea6767: #ea6767;
  --c-hex-f7b6bf: #f7b6bf;
  --c-hex-fca5a5: #fca5a5;
  --c-hex-ff00ff: #ff00ff;
  --c-hex-ff3300: #ff3300;
  --c-hex-ff4d00: #ff4d00;
  --c-hex-ff6b6b: #ff6b6b;
  --c-hex-ff8800: #ff8800;
  --c-hex-ffffff: #ffffff;
  --c-rgba-0-0-0-0-05: rgba(0,0,0,0.05);
  --c-rgba-0-0-0-0-25: rgba(0,0,0,0.25);
  --c-rgba-0-0-0-0-35: rgba(0,0,0,0.35);
  --c-rgba-0-0-0-0-5: rgba(0,0,0,0.5);
  --c-rgba-0-0-0-0-55: rgba(0,0,0,0.55);
  --c-rgba-0-0-0-0-6: rgba(0,0,0,0.6);
  --c-rgba-0-0-0-0-65: rgba(0,0,0,0.65);
  --c-rgba-0-0-0-0-7: rgba(0,0,0,0.7);
  --c-rgba-0-0-0-0-75: rgba(0,0,0,0.75);
  --c-rgba-0-0-0-0-85: rgba(0,0,0,0.85);
  --c-rgba-0-0-0-0-9: rgba(0,0,0,0.9);
  --c-rgba-0-0-0-1: rgba(0,0,0,1);
  --c-rgba-0-102-255-0-3: rgba(0,102,255,0.3);
  --c-rgba-0-102-255-0-5: rgba(0,102,255,0.5);
  --c-rgba-0-18-20-0-5: rgba(0,18,20,0.5);
  --c-rgba-0-39-44-0-58: rgba(0,39,44,0.58);
  --c-rgba-0-42-47-0-52: rgba(0,42,47,0.52);
  --c-rgba-102-126-234-0-3: rgba(102,126,234,0.3);
  --c-rgba-102-126-234-0-5: rgba(102,126,234,0.5);
  --c-rgba-102-191-255-0-08: rgba(102,191,255,0.08);
  --c-rgba-102-191-255-0-1: rgba(102,191,255,0.1);
  --c-rgba-102-191-255-0-12: rgba(102,191,255,0.12);
  --c-rgba-102-191-255-0-16: rgba(102,191,255,0.16);
  --c-rgba-102-191-255-0-45: rgba(102,191,255,0.45);
  --c-rgba-109-79-240-0-35: rgba(109,79,240,0.35);
  --c-rgba-122-56-63-0-3: rgba(122,56,63,0.3);
  --c-rgba-169-146-146-0-03: rgba(169,146,146,0.03);
  --c-rgba-191-191-191-0-24: rgba(191,191,191,0.24);
  --c-rgba-192-205-255-0-18: rgba(192,205,255,0.18);
  --c-rgba-192-205-255-0-22: rgba(192,205,255,0.22);
  --c-rgba-192-205-255-0-25: rgba(192,205,255,0.25);
  --c-rgba-192-205-255-0-35: rgba(192,205,255,0.35);
  --c-rgba-192-205-255-0-45: rgba(192,205,255,0.45);
  --c-rgba-192-205-255-0-55: rgba(192,205,255,0.55);
  --c-rgba-192-205-255-0-6: rgba(192,205,255,0.6);
  --c-rgba-192-205-255-0-75: rgba(192,205,255,0.75);
  --c-rgba-20-24-36-0-6: rgba(20,24,36,0.6);
  --c-rgba-20-24-36-0-8: rgba(20,24,36,0.8);
  --c-rgba-227-241-255-0-7: rgba(227,241,255,0.7);
  --c-rgba-23-23-23-0-6: rgba(23,23,23,0.6);
  --c-rgba-234-103-103-0-25: rgba(234,103,103,0.25);
  --c-rgba-239-68-68-0-1: rgba(239,68,68,0.1);
  --c-rgba-239-68-68-0-2: rgba(239,68,68,0.2);
  --c-rgba-239-68-68-0-3: rgba(239,68,68,0.3);
  --c-rgba-239-68-68-0-5: rgba(239,68,68,0.5);
  --c-rgba-24-23-27-0-45: rgba(24,23,27,0.45);
  --c-rgba-24-23-27-0-55: rgba(24,23,27,0.55);
  --c-rgba-25-36-43-0-5: rgba(25,36,43,0.5);
  --c-rgba-255-107-107-0-75: rgba(255,107,107,0.75);
  --c-rgba-255-255-255-0-1: rgba(255,255,255,0.1);
  --c-rgba-255-255-255-0-12: rgba(255,255,255,0.12);
  --c-rgba-255-255-255-0-15: rgba(255,255,255,0.15);
  --c-rgba-255-255-255-0-3: rgba(255,255,255,0.3);
  --c-rgba-255-255-255-0-35: rgba(255,255,255,0.35);
  --c-rgba-255-255-255-0-45: rgba(255,255,255,0.45);
  --c-rgba-255-255-255-0-5: rgba(255,255,255,0.5);
  --c-rgba-255-255-255-0-55: rgba(255,255,255,0.55);
  --c-rgba-255-255-255-0-6: rgba(255,255,255,0.6);
  --c-rgba-255-255-255-0-82: rgba(255,255,255,0.82);
  --c-rgba-255-255-255-0-85: rgba(255,255,255,0.85);
  --c-rgba-255-255-255-0-88: rgba(255,255,255,0.88);
  --c-rgba-255-255-255-0-9: rgba(255,255,255,0.9);
  --c-rgba-255-255-255-0-92: rgba(255,255,255,0.92);
  --c-rgba-31-31-31-0-6: rgba(31,31,31,0.6);
  --c-rgba-31-31-31-0-65: rgba(31,31,31,0.65);
  --c-rgba-62-92-118-0-3: rgba(62,92,118,0.3);
  --c-rgba-62-92-118-0-5: rgba(62,92,118,0.5);
  --c-transparent: transparent;
}
