#root {
  background: #000000;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
}