@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf');
}

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik.ttf');
}

@font-face {
  font-family: 'Inclusive Sans';
  src: url('/fonts/InclusiveSans.ttf');
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend.ttf');
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
}

:root {
  background-color: #000000;
  height: 100vh;
}